S3method(coef,DTRreg)
S3method(confint,DTRreg)
S3method(plot,DTRreg)
S3method(predict,DTRreg)
S3method(print,DTRreg)
S3method(summary,DTRreg)
export(DTRreg)
export(chooseM)
export(DWSurv)
export(gdwols)
importFrom("graphics", "abline", "hist", "plot", "points")
importFrom("stats", "as.formula", "binomial", "fitted", "get_all_vars",
             "glm", "lm", "lowess", "model.frame", "model.matrix",
             "model.response", "qnorm", "quantile", "rbinom", "rnorm",
             "runif", "sd", "var")
importFrom("utils", "head", "tail")
importFrom("dplyr", "ntile")
importFrom("MASS", "polr")
importFrom("stats", "dnorm", "dgamma", "gaussian")
